* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width:100%;
    
    /**/
    background-image: url("../img/background.jpg");
    margin: 0px; 
    max-height: 100vh; 
    overflow: hidden;
}
.half{
    width: 50%;
    float: left;
}

.frame {
    width: 320px;
    height: 550px;
    margin: auto ;
    margin-top: 50px;
    background-color: white;
    border: thin #c0c0c0 solid;
    border-radius: 15px;
    position: relative;
}

.screen {
    width: 280px;
    height: 480px;
    margin: 40px auto;
    padding-top: 50px;
    border: 3px #c0c0c0 solid;
    border-radius: 5px;
    overflow-y: scroll;
}


/* CSS de la navbar*/
.screen .nav{
    /*Ne pas modifier !!!*/
    position: absolute;
    top: 43px;
    left: 7%;
    width: 86%;
    
    /**/
    text-align: center;
    color: white;
    background-color: #152D8E;
    
    
}

/* CSS du footer*/
.screen .footer{
    /*Ne pas modifier !!!*/
    position: absolute;
    bottom: 31px;
    width: 274px;
    
    /**/
    text-align: center;
    background-color: #CDCDCD;
    
    
      
}
/*Zone d'affichage des articles*/
output {
    padding-bottom: 100px;
}

/*css des articles*/
.article{
    border: thin #c0c0c0 solid;
}

h3{    
    padding: 4px;
    background: #CC641F;
    text-align: center;
    color: white;
}
.zero{
    list-style-type: none;
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: black;
    line-height: 100%;    
    
}

.un{
    padding: 0px;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: black;
    line-height: 200%;
    
}

.deux{
    list-style-type: none;
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: black;
    line-height: 280%;
    
    
}

.trois{
    list-style-type: none;
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: black;
    
}
/*css du titre des articles*/
.titreA{}
/*css du texte des articles*/
.texteA{}
/*css du lien des articles*/
.lienA{}

/*Version 2*/

#screen2{
     padding-top: 110px;
}

/*CSS de la navbar--------------------------------*/
    .all2 ul {
        padding: 0px;
        overflow-x: scroll;
        background-color: #fff;
        position: absolute;
        top: 93px;
        width: 274px;
    }
    .all2 ul .list {
        display: flex;
        flex-wrap: nowrap;
        height: 38px;

    }

    .all2>ul li {
        display: inline-block;
        margin: 10px;
    }

/*--------------------------------------------------*/


.icones {
    width: 30px;
}

#cog {
    position: absolute;
    right: 19px;
    top: 17px
}

.right{
    position: absolute;
    left: 19px;
    top: 17px
}


::-webkit-scrollbar{
    width: 0px;
}