* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width:100%;
    
    /**/
    background-image: url("../img/background.jpg");
    margin: 0px; 
    max-height: 100vh; 
    overflow: hidden;
}
.half{
    width: 50%;
    float: left;
}

.frame {
    width: 320px;
    height: 600px;
    margin: auto ;
    margin-top: 50px;
    background-color: white;
    border: thin #c0c0c0 solid;
    border-radius: 15px;
    position: relative;
}

.screen {
    width: 280px;
    height: 530px;
    margin: 40px auto;
    padding-top: 50px;
    border: 3px #c0c0c0 solid;
    border-radius: 5px;
    overflow-y: scroll;
}


/* CSS de la navbar*/
.screen .nav{
    /*Ne pas modifier !!!*/
    position: absolute;
    top: 43px;
    left: 7%;
    width: 87%;
    border-bottom-style: solid;
    border-bottom-color: #CC641F;
;
    
    /**/
    font-size: 85%;
    text-align: center;
    color: white;
    background-color: #2e62c2;
    
    
}

/* CSS du footer*/
.screen .footer{
    /*Ne pas modifier !!!*/
    position: absolute;
    bottom: 31px;
    width: 274px;
    
    /**/
    border-top-style: solid;
    border-top-color: #CC641F;
    text-align: center;
    background-color: #e0e0e0;
    box-shadow: #d3d3d3bf 0px -1px 5px 0px;
    
    
      
}

.footerButton {
    width: 50%;
    float: left;
    padding: 3px;
}

.footerButton>img {
    width: 23px;
}

.footerButton>p {
    margin: 0px;
    padding: 0px;
    font-size: 9px;
}
/*Zone d'affichage des articles*/
output {
    padding-bottom: 100px;
}


/*css des articles*/
.article{
    border: thin #c0c0c0 solid;
}



h3{ 
    
    text-align: center;
    color: white;   
    background: #CC641F;
    
    
}

.zero{
    padding-left: 2%;
    list-style-type: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 140%;
    line-height: 100%;    
    
}

.un{
    list-style-position: inside;
    list-style-image: url('../img/puce.png');
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 3%;
    font-size: 140%;
    line-height: 200%;
    
 }

.deux{
      list-style-type: none;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 140%;
      line-height: 140%;
      padding-left: 1%;
      padding-right: 1%;
    
  }

.trois{
    list-style-type: none;
    padding-left: 2%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 120%;
    
}
/*séparateur*/
#hr1, #hr2, #hr3, #hr4, #hr5, #hr6, #hr7{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#hr8, #hr9, #hr10{
    border-top: 1px solid black;
}


/*css du titre des articles*/
.titreA{}
/*css du texte des articles*/
.texteA{}
/*css du lien des articles*/
.lienA{}

/*Version 2*/

#screen2{
     padding-top: 90px;
}

.titre{
   /*vide pour le moment*/ 
}

/*CSS de la navbar--------------------------------*/
    .all2 ul {
        padding: 0px;
        overflow-x: scroll;
        background-color: #2e62c2;
        position: absolute;
        top: 85px;
        width: 274px;
        border-top-style: solid;
        border-top-color: #D76147;
        display: flex;
        white-space: nowrap;
        color: white;
        text-align: right;
        font-family: fantasy;
        background-color: transparent;
    }

    .all2>ul li {
        display: inline-block;
        margin: 0px;
        padding: 10px;
        background-color:#2e62c2;
    }

/*--------------------------------------------------*/


.icones { width: 30px; }

#cog {
    position: absolute;
    right: 19px;
    top: 13px
}

.right{
    position: absolute;
    left: 19px;
    top: 13px
}


::-webkit-scrollbar{ width: 0px; }

.menuV2 {
    width: 277px;
    height: 524px;
    top: 43px;
    position: absolute;
    z-index: 100;
    left: 22px
}

.menuV2 .side {
    width: 75%;
    height: 100%;
    background-color: #e0e0e0;
    position: absolute;
}

.menuV2 .bar {
    position: absolute;
    color: white;
    width: 100%;
    height: 57px;
    
    
    background: url('../img/logonew.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 189px 40px;
    background-color:#2e62c2;
    border-bottom-style: solid;
    border-bottom-color: #D76147;
    
}

.bar .title {
    text-align: center;
    padding-top: 15px;
}

.content {
    position:absolute;
    top: 80px;
}

.opaque {
    position: absolute;
    right: 0px;
    width: 25%;
    height: 100%;
    background-color: #000000b1;
}